<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunuscagliyan.turingtodo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HomeActivityTheme.HomeFragment">
        <activity
            android:content=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/HomeActivityTheme"></activity>
        <activity android:content=".WelcomeActivity"
            android:theme="@style/WelcomeActivityTheme.NoActionBar">
            <intent-filter>
                <action android:content="android.intent.action.MAIN" />

                <category android:content="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>